* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 1300px;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    height: 50px;
}

td.red {
    background: red;
}

td.white {
    background: white;
}

th {
    width: 400px;
}

th img {
    width: 500px;
}

#img-flag2 {
    display: inline-block;
    width: 500px;
}

#table1 {
    display: inline-block;
    width: 700px;
}

tr {
    width: 100%;
}