* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: 1px solid black;
    margin: 6px;
    border-spacing: none;
}

td.black,
td.white {
    width: 100px;
    height: 100px;
}

td.black {
    background: black;
}

div.black,
div.white {
    width: 100px;
    height: 100px;
}

div.black {
    background: black;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 802px;
    height: 802px;
    border: 1px solid black;
    margin: 6px;
}